<a href="https://colab.research.google.com/github/harishsundaram07/KnowledgeDiscoveryInDatabases_Group4_Project/blob/main/KDD_Project_Deliverable2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Group 4:


1.  Harikrishnan Sundaram
2.  Malhar Joshi
3. Yash Chaudhari
4. Dhruv Jani


Export the zip file and place all the dataset in the directory.

# Importing all necessary libraries

In [ ]:
import pandas as pd
from glob import glob

reading all the datafiles for the male players

In [ ]:
male_files = glob("atp*")

In [ ]:
male_files

[]

sorting the datafiles according to the year

In [ ]:
male_files.sort()
male_files

[]

concatinating all the male players datafiles into a single dataframe

In [ ]:
male_data = pd.concat ((pd.read_csv(file) for file in male_files), ignore_index= True)

ValueError: ignored

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

the final male players dataset:

In [ ]:
male_data.head()

In [ ]:
male_data.shape

reading all the datafiles for the female players

In [ ]:
female_files = glob("wta*")

In [ ]:
female_files

sorting the datafiles according to the year

In [ ]:
female_files.sort()
female_files

concatinating all the female players datafiles into a single dataframe

In [ ]:
female_data = pd.concat ((pd.read_csv(file) for file in female_files), ignore_index= True)

the final female players dataset:

In [ ]:
female_data.head()

In [ ]:
female_data.shape

Data Preprocessing Steps
Below are the established steps we’ll need to go through to make sure our data is successfully preprocessed.

1. Data quality assessment
2. Data cleaning
3. Data transformation
4. Data reduction

1. Data quality assessment
First we take a good look at our data and get an idea of its overall quality, relevance to our project, and consistency. There are a number of data anomalies and inherent problems to look out for in almost any data set, for example:

Mismatched data types: When you collect data from many different sources, it may come to you in different formats.

Mixed data values: Perhaps different sources use different descriptors for features – for example, man or male. These value descriptors should all be made uniform.

Data outliers: Outliers can have a huge impact on data analysis results.

Missing data: Take a look for missing data fields, blank spaces in text, or unanswered survey questions. This could be due to human error or incomplete data. To take care of missing data, you’ll have to perform data cleaning.


Since all our data comes from a single source we can conclude that there are no inconsistencies with respect to the quality, data types and data values.

2. Data cleaning
Data cleaning is the process of adding missing data and correcting, repairing, or removing incorrect or irrelevant data from a data set. Dating cleaning is the most important step of preprocessing because it will ensure that your data is ready to go for your downstream needs.

Data cleaning will correct all of the inconsistent data you uncovered in your data quality assessment. Depending on the kind of data you’re working with, there are a number of possible cleaners you’ll need to run your data through.

Missing data
There are a number of ways to correct for missing data, but the two most common are:

Ignore the tuples: A tuple is an ordered list or sequence of numbers or entities. If multiple values are missing within tuples, you may simply discard the tuples with that missing information. This is only recommended for large data sets, when a few ignored tuples won’t harm further analysis.

Manually fill in missing data: This can be tedious, but is definitely necessary when working with smaller data sets.


Let us check our datasets for any missing data.

In [ ]:
missing_male_data = male_data.isnull()
missing_male_data.head()

In [ ]:
missing_female_data = female_data.isnull()
missing_female_data.head()

we can see from the above values that our datasets contain null values which could be harmful for our analysis.

lets see the count of the null values for each columns and then find the overall percentage of those null values.

First lets do it for the Male players dataframe

In [ ]:
sum_missing_male_data = missing_male_data.sum()
sum_missing_male_data

In [ ]:
len(male_data)

In [ ]:
percentage_missing_male_data = (sum_missing_male_data / len(male_data))*100
percentage_missing_male_data

Now for the female players dataframe

In [ ]:
sum_missing_female_data = missing_female_data.sum()
sum_missing_female_data

In [ ]:
len(female_data)

In [ ]:
percentage_missing_female_data = (sum_missing_female_data / len(female_data))*100
percentage_missing_female_data

From the above analysis we can see that there are many columns in both the datafarmes with very high percentage of missing data. We will now drop those columns from the dataframes.

In [ ]:
male_perc = 50.0
male_min_count = int(((100-male_perc)/100)*male_data.shape[0] + 1)
new_male_data = male_data.dropna( axis=1, 
                thresh=male_min_count)

female_perc = 70.0
female_min_count = int(((100-female_perc)/100)*female_data.shape[0] + 1)
new_female_data = female_data.dropna(axis =1, thresh = female_min_count)

In [ ]:
new_male_data.head()

In [ ]:
new_male_data.shape

In [ ]:
new_female_data.head()

In [ ]:
new_female_data.shape

There are some columns with missing data which are useful for our analysis. Let us fill those columns with either a string or mean of the values in those columns.

In [ ]:
percentage_missing_male_data

**Changed the null values in Surface column not 'Not Mentioned'**

In [ ]:
new_male_data.surface.fillna('Not Mentioned', inplace=True)
new_male_data.tail()

In [ ]:
frequency = new_male_data['surface'].value_counts(dropna=False)
frequency

**Below we are changing the null winner & loser age of Male players to it mean.**

In [ ]:
mean_male_winner_age = new_male_data['winner_age'].mean()
print(mean_male_winner_age)
mean_male_loser_age = new_male_data['loser_age'].mean()
print(mean_male_loser_age)

In [ ]:
new_male_data.winner_age.fillna(mean_male_winner_age, inplace=True)
new_male_data.loser_age.fillna(mean_male_loser_age, inplace=True)

**Below we are changing the null winner & loser age of Female players to it mean.**

In [ ]:
mean_female_loser_age = new_female_data['loser_age'].mean()
print(mean_female_loser_age)
mean_female_winner_age = new_female_data['winner_age'].mean()
print(mean_female_winner_age)

In [ ]:
new_female_data.loser_age.fillna(mean_loser_age, inplace=True)
new_female_data.winner_age.fillna(mean_female_winner_age, inplace=True)

**Below we are changing the null winner & loser height of Male players to it mean.**

In [ ]:
mean_winner_ht = new_male_data['winner_ht'].mean()
print(mean_winner_ht)
new_male_data.winner_ht.fillna(mean_winner_ht, inplace=True)

In [ ]:
mean_loser_ht = new_male_data['loser_ht'].mean()
print(mean_loser_ht)
new_male_data.loser_ht.fillna(mean_loser_ht, inplace=True)

In [ ]:

mean_floser_ht = new_female_data['loser_ht'].mean()
print(mean_floser_ht)
new_female_data.loser_ht.fillna(mean_floser_ht, inplace=True)

In [ ]:
mean_fwinner_ht = new_female_data['winner_ht'].mean()
print(mean_fwinner_ht)
new_female_data.winner_ht.fillna(mean_fwinner_ht, inplace=True)

In [ ]:
new_female_data.drop(new_female_data.columns.difference(['tourney_name','surface' , 'winner_name' , 'winner_hand' , 'winner_age' , 'winner_ht' , 'winner_ioc' , 'loser_name' , 'loser_hand' , 'loser_age' , 'loser_ht' , 'loser_ioc' ,'round']), 1, inplace=False)

In [ ]:
new_male_data.drop(new_male_data.columns.difference(['tourney_name','surface' , 'winner_name' , 'winner_hand' , 'winner_age' , 'winner_ht' , 'winner_ioc' , 'loser_name' , 'loser_hand' , 'loser_age' , 'loser_ht' , 'loser_ioc','round' ]), 1, inplace=False)

In [ ]:
import numpy as np 
import matplotlib.pyplot as plt
new_male_data.winner_ioc.fillna('Test', inplace=True)
plt.figure(figsize=(10, 8), dpi=80)
plt_1 = new_male_data[['surface','winner_ioc','winner_id']].groupby(['surface','winner_ioc']).size().reset_index(name='counts').sort_values('counts',ascending=False).head(10)

N = 50
x = plt_1['surface']
y = plt_1['winner_ioc']
s=plt_1['counts']
#colors = np.random.rand(len())

plt.scatter(x, y,s, alpha=0.5)
plt.show()

**The above graph gives a view of country vs surface which can help us understand which country plays better on which surface. This can help us understand where players of a certain country need to improve. Eg: USA plays very good on Hard surfaces as compared to Grass. This shows us that players in United States need to focus on Grass courts more.**

In [ ]:
plt_2 = new_male_data[new_male_data['round'] == 'F']

conditions = [
    (plt_2['winner_age'] >20) & (plt_2['winner_age'] <30),
    (plt_2['winner_age'] >30)  ]

values = ['20 to 30', '30+']
plt_2['AgeGroup'] = np.select(conditions, values)
plt_2 = plt_2[['AgeGroup','tourney_date']]
plt_2['tourney_date'] = plt_2['tourney_date']//10000
plt_2 = plt_2.groupby(['AgeGroup','tourney_date']).size().reset_index(name='counts').sort_values('counts',ascending=False)
plt_2 = plt_2[plt_2['tourney_date'] > 2010]
#plt_2['tourney_date'] = pd.Categorical(plt_2.tourney_date)
plt_2_1 = plt_2[plt_2['AgeGroup'] == '20 to 30']
plt_2_2 = plt_2[plt_2['AgeGroup'] == '30+']

plt.bar(plt_2_1['tourney_date'],plt_2_1['counts'],color = 'blue')
#plt.show()
plt.bar(plt_2_2['tourney_date'],plt_2_2['counts'],color = 'red')
plt.show()

**The above graph gives a view of age vs year, which shows us which age group performed well given an year. The color red shows age group 20 to 30 where as blue shows all players 30+. As we can see, players above 30 dominated the matches of the year 2012.**